SUPABASE_URL=https://vbvsgwiyzjsmxawxyisn.supabase.co
SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
RESEND_API_KEY=
LANDLINK_ADMIN_EMAIL=admin@outdoorintel.ca
LANDLINK_PUBLIC_URL=https://landlink.outdoorintel.ca
